

@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap') format('woff2');
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap') format('woff2');
    font-style: normal;
}

:root {
    --c1:rgba(27, 44, 73,1);        /* blue text */
    --c2:rgba(57,210,207,1);      /* link */
    --c3:rgba(67,220,227,1);      /* link hover */
    --c4:rgba(255,255,255,1);       /* white */
    --c5:rgba(203, 206, 213,1);     /* grey */
    --c6:rgba(240,240,240,1);       /* white 80 */
    --c7:rgba(180, 180, 180,1);     /* grey */
    --t1: "t1";
    --t2: "t2";
}

.anim_up_05s_target {
    top:0;
    left:50%;
    transform:translateX(-50%) translateY(100%);
}

.back1 {
    background:url("../img/back/1.webp") center center, center center;
}
.t1 {font-family:var(--t1);}
.t2 {font-family:var(--t2);}

.c1 {color:var(--c1);}
.c2 {color:var(--c2);}
.c3 {color:var(--c3);}
.c4 {color:var(--c4);}
.c5 {color:var(--c5);}
.c6 {color:var(--c6);}
.c7 {color:var(--c7);}

.b1 {background:var(--c1);}
.b2 {background:var(--c2);}
.b3 {background:var(--c3);}
.b4 {background:var(--c4);}
.b5 {background:var(--c5);}
.b6 {background:var(--c6);}
.b7 {background:var(--c7);}

/*
time effect
*/
.s08 {transition-delay: .8s;}
.s12 {transition-delay: 1.2s;}
.s16 {transition-delay: 1.6s;}


.f {display:flex;}
.fw {flex-wrap:wrap;}
.fwn {flex-wrap:nowrap;}
.fnw {flex-wrap:nowrap;}
.fr {flex-direction:row;}
.frr {flex-direction: row-reverse;}
.fc {flex-direction:column;}
.fcr {flex-direction:column-reverse;}

.f_ {justify-content:flex-start;}
._f {justify-content:flex-end;}
.f_f {justify-content:space-between;}
._f_f_ {justify-content:space-around;}
._f_ {justify-content:center;}

.fac {align-items:center;}

.gap10 {gap:10px;}
.gap20 {gap:20px;}
.gap30 {gap:30px;}
.gap50 {gap:50px;}
.gap100 {gap:100px;}

.f150 {flex:1 1 150px;}
.f250 {flex:1 1 250px;}
.f500 {flex:1 1 500px;}

.border {border-radius:20px}

.T_t::first-letter {text-transform: uppercase;}
.t {text-transform: lowercase;}
.T {text-transform: uppercase;}
._t_ {text-align:center;}
._t {text-align:end;}
.t_ {text-align:start;}
.Tt {text-transform: capitalize;}
.t_nw {white-space: nowrap;}
.t_t {text-align: justify;}


.w {width:100%;}
.w50 {width:50px;}
.w200 {with:200px;}
.w1200M {max-width:1200px}

.h {height:100%;}
.h50 {height:50px;}
.h100 {height:100px;}
.h150 {height:150px;}
.h300 {height:300px;}


.matte {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius:5px;
}

.shadow {
box-shadow: 0 0 10px rgba(0,0,0, 0.2);
}
.shadow:hover {
    box-shadow: 0 0 15px rgba(0,0,0, 0.3);
}
.shadow:active {
    box-shadow: 0 0 15px rgba(0,0,0, 0.3);
}

._b_1b_c3 {border-bottom:1px solid var(--c3);}


.pad5 {padding:5px;}
.pad5t {padding-top:5px;}
.pad5b {padding-bottom:5px;}
.pad5l {padding-left:5px;}
.pad5r {padding-right:5px;}

.pad10 {padding:10px;}
.pad10t {padding-top:10px;}
.pad10b {padding-bottom:10px;}
.pad10l {padding-left:10px;}
.pad10r {padding-right:10px;}

.pad20 {padding:20px;}
.pad20t {padding-top:20px;}
.pad20b {padding-bottom:20px;}
.pad20l {padding-left:20px;}
.pad20r {padding-right:20px;}

.pad50 {padding:50px;}
.pad50t {padding-top:50px;}
.pad50b {padding-bottom:50px;}
.pad50l {padding-left:50px;}
.pad50r {padding-right:50px;}


.abs {position:absolute;}
.rel {position:relative;}
.z1 {z-index:1;}
.z2 {z-index:2;}
.z3 {z-index:3;}
.z4 {z-index:4;}
.z5 {z-index:5;}
.z6 {z-index:6;}
.z7 {z-index:7;}
.z8 {z-index:8;}
.z9 {z-index:9;}

.top {top:0px;top:0%;}
.right {right:0px;right:0%;}
.bottom {bottom:0px;bottom:0%;}
.left {left:0px;left:0%;}

.deg90 {transform:rotate(90deg);}
.deg45 {transform:rotate(45deg);}
.deg315 {transform:rotate(225deg);}

.center {top: 50%;transform: translateY(-50%);}
.middle {left: 50%;transform: translateX(-50%);}
.c {margin:0 auto;}

.contain {object-fit:contain;}
.cover {object-fit:cover;}

.hide {overflow:hidden;}
.scroll {overflow:auto;height:100%;width:100%;}

.NONE {display:none;}


.scale:hover img {
    scale:1.1;
    transition:1 ease;
}


/*
body * {
    border:1px solid var(--c5);
}